<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="/assets/starshipimages.jpeg">
        </div>
        <div class="yodaDes">
            <h1>{{this.starshipDetails.name | uppercase}}</h1>
            <div class="paragraph">
                <div>MGLT:</div>
                <p>{{this.starshipDetails.MGLT}}</p>
            </div>
            <div class="paragraph">
                <div>Cargo_capacity:</div>
                <p>{{this.starshipDetails.cargo_capacity}}</p>
            </div>
            <div class="paragraph">
                <div>Consumables:</div>
                <p>{{this.starshipDetails.consumables}}</p>
            </div>
            <div class="paragraph">
                <div>Cost_in_Credits:</div>
                <p>{{this.starshipDetails.cost_in_credits}}</p>
            </div>
            <div class="paragraph">
                <div>Crew:</div>
                <p>{{this.starshipDetails.crew}}</p>
            </div>
            <div class="paragraph">
                <div>Hyperdrive_rating:</div>
                <p>{{this.starshipDetails.hyperdrive_rating}}</p>
            </div>
            <div class="paragraph">
                <div>length:</div>
                <p>{{this.starshipDetails.length}}</p>
            </div>
            <div class="paragraph">
                <div>Manufacturer:</div>
                <p>{{this.starshipDetails.manufacturer}}</p>
            </div>
            <div class="paragraph">
                <div>Max_atmosphering_speed:</div>
                <p>{{this.starshipDetails.max_atmosphering_speed}}</p>
            </div>
            <div class="paragraph">
                <div>Model:</div>
                <p>{{this.starshipDetails.model}}</p>
            </div>
            <div class="paragraph">
                <div>Passengers:</div>
                <p>{{this.starshipDetails.passengers}}</p>
            </div>
            <div class="paragraph">
                <div>Pilots:</div>
                <p>{{this.starshipDetails.pilots}}</p>
            </div>
            <div class="paragraph">
                <div>Starship_class:</div>
                <p>{{this.starshipDetails.starship_class}}</p>
            </div>
            <div class="paragraph">
                <div>films:</div>
                <p>{{this.starshipDetails.films}}</p>
            </div>
            <div class="paragraph">
                <div>url:</div>
                <p>{{this.starshipDetails.url}}</p>
            </div>
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>



