<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="{{image}}"/>
        </div>
        <div class="yodaDes">
            <h1>{{this.starshipDetails.name | uppercase}}</h1>
            <div class="paragraph">
                <div>MGLT&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.MGLT}}</p>
            </div>
            <div class="paragraph">
                <div>Cargo_capacity&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.cargo_capacity}}</p>
            </div>
            <div class="paragraph">
                <div>Consumables&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.consumables}}</p>
            </div>
            <div class="paragraph">
                <div>Cost_in_Credits&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.cost_in_credits}}</p>
            </div>
            <div class="paragraph">
                <div>Crew&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.crew}}</p>
            </div>
            <div class="paragraph">
                <div>Hyperdrive_rating&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.hyperdrive_rating}}</p>
            </div>
            <div class="paragraph">
                <div>length&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.length}}</p>
            </div>
            <div class="paragraph">
                <div>Manufacturer&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.manufacturer | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Max_atmosphering_speed&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.max_atmosphering_speed}}</p>
            </div>
            <div class="paragraph">
                <div>Model&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.model | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Passengers&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.passengers}}</p>
            </div>
            <div class="paragraph">
                <div>Pilots&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.pilots}}</p>
            </div>
            <div class="paragraph">
                <div>Starship_class&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.starship_class | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>films&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.films}}</p>
            </div>
            <div class="paragraph">
                <div>url&nbsp;:&nbsp;</div>
                <p>{{this.starshipDetails.url}}</p>
            </div>
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>



