<div class="container">
    <div class="header">
        <app-home-page></app-home-page>
    </div>
   
    <div class="mobileView">
        <div class="back">
            <div>
                <mat-icon routerLink="/home">keyboard_backspace</mat-icon>
            </div >
            <div class="fav">RecentSearch</div>
        </div>
        <div>
            <mat-icon class="search">search</mat-icon>
        </div>
    </div>
    <ng-template #elseBlock>
    <div class="no-recent">
    <div class="img">
        <img  src="/assets/icon_nothing.png">
    </div>
    <div class="imgline">
        No Recent Search
    </div>
   
</div>
</ng-template>
<div class="recent" *ngIf="recentSearch;else elseBlock">
    <div class="tableContent">
        <div class="count">
            <p>You recently searched for</p>
        </div>
        <div class="removeBtn">
            <button (click)="openDialog()">Clear All</button>
        </div>
    </div>
    <div class="table" >
    <table *ngFor="let recent of recentHistory;index as i">
        <div class="tablecontent" >
        
            <!--(click)="onClickRecent(recent)"-->
            <div>{{recent.cityName}}</div>
            <div class="imageContent">
            <img class="weatherImg" [src]="recent.image" >
           
                <div class="tempimg">{{((recent.temp)-273.15).toFixed(0)}}&#176;</div>
            
                <div class="tempimg">{{recent.info | titlecase}}</div>
            
            
            </div>
            <div>
                <td><mat-icon  class="color" [class.favheart]="color" (click)="onFavourite(recent)">favorite </mat-icon></td>
            </div>
    </div>
        
    </table>
    </div>
    <table class="mediaTable" *ngFor="let recent of recentHistory;index as i">
        <div class="table-1" >
        <div class="name">{{recent.cityName}}</div>
        <div class="tableimg">
        <div class="info">
            <div><img class="weatherImg" [src]="recent.image"></div>
            <div class="tempinfo">{{((recent.temp)-273.15).toFixed(0)}}&#176;</div>
            <div class="weatherinfo">{{recent.info | titlecase}}</div>
        </div>
        <div>
            <mat-icon class="color" [class.favheart]="color" (click)="onFavourite(recent)">favorite </mat-icon>
        </div>
    </div>
    </div>
    </table>
    
    </div>
</div>
