.no-recent{
    margin-left: 45%;
    margin-top: 18%;
 }
 .img{
    height: 40%;
    width: 25%;
 }
 .imgline{
    margin:3%;
    height: 3.05%;
    width:30%;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.4rem;
    text-align: center;
    margin-left: -5%;
    
 }
 .mobileView{
  background-color:#fff;
  height: 8.75%;
  width:90%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  display: none;
}
.back{
  display: flex;
  justify-content: space-around;
  width:50%
}
.fav{
  height: 4%;
  width:30%;
  color:#292f33;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
.search{
  color:black;
}
 .count{
    height: 2.18%;
    width: 12%;
    color:#fff;
    font-family: 'Roboto';
    font-size: 0.8rem;
    letter-spacing: 0;
    line-height: 0.9rem;
 }
 .count p{
  width:80vw;
 }
.tableContent{
    display: flex;
    justify-content: space-between;
    margin:3%;
    margin-left: 10%;
    margin-right: 10%;
}
.removeBtn button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color:#fff;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Roboto';
    text-align: right;
}
.color{
    color:#ffd639;
    margin:2%;
}
.table table {
  overflow-y:scroll;
    border-collapse: collapse;
    width: 80%;
    background-color:rgba(255,255,255,0.2);
    border-spacing: 5px 1rem;
    margin-left: 10%;
   
   
  }
   .table table tr{
    margin-bottom: 10rem;
   
  }
  
  td {
    padding: 2%;
    text-align: left;
    
    color:#fff
    
  }
  .weatherImg{
    width:270%
  }
  
  tr>:nth-child(2){
    width: 5%;
  }
  tr>:nth-child(3){
    width: 3%;
  }
  .tableimg{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 12.5%;
    width: 91.11%;
  }
  .info{
    display: flex;
    justify-content: space-evenly;
    width:80%;
    
  
  }
  .mediaTable{
    width: 90%;
    background-color:rgba(255,255,255,0.2);
    margin-left: 5%;
    border-bottom: none;
    color:white;
    display:none;
    
  }
  .table-1{
    border-collapse: separate;
    border-spacing: 0 1rem;
    
  }
  @media screen and (max-width:750px) and (min-width:480px) {
    .imgline{
      width:80%;
      padding: 5%;
      margin-left: -25%;
  }
  .img{
    height: 40%;
    width: 25%;
    margin-left: -10%;
 }
    
  }
  @media screen and (max-width:280px) {
    .imgline{
      width:80%;
      padding: 5%;
      margin-left: -20%;
  }
  .img{
    height: 40%;
    width: 25%;
    margin-left: -20%;
 }
    
  }
  @media screen and (max-width:1200px) and (min-width:750px) {
    .imgline{
      width:80%;
      padding: 5%;
      margin-left: -35%;
  }
  .img{
    height: 40%;
    width: 25%;
    margin-left: -10%;
 }
    
  }
  @media  screen and (max-width:480px){
    .header{
      display: none;
    }
    .no-recent{
        margin-left: 30%;
    }
    .imgline{
        width:80%;
        padding: 5%;
        padding-left: -10%;
    }
    .mobileView{
    display: flex;
  
}
.name{
  height: 2.81%;
  width: 34.17%;
  color: #FFE539;
  font-family: 'Roboto';
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.125rem;
  padding: 2%;
}
.tempinfo{
  height: 3.28%;
  width: 5.83%;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
.weatherinfo{
  height: 2.5%;
  width: 23.33%;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1rem;
  margin-top: 1%;
}
.count{
    height: 2.34%;
    width:80%;
    font-size: 0.8rem;
    line-height: 0.9rem;
}
.removeBtn button{
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color:#fff;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Roboto';
    text-align: right;
    width:20vw;
}
.weatherImg{
  width:80%
}
.info{
  gap:1rem;
  
}
.info .weatherinfo{
  width: 90vw;
 }
.table {
   display: none;
}
.color{
  color:#ffd639;
  
}
.mediaTable{
  display:block;
  padding:0.5%;
  
}

 
  }