<div class="container">
    <div class="header">
        <app-home-page></app-home-page>
    </div>
   
    <div class="mobileView">
        <div class="back">
            <div>
                <mat-icon routerLink="/home">keyboard_backspace</mat-icon>
            </div >
            <div class="fav">RecentSearch</div>
        </div>
        <div>
            <mat-icon class="search">search</mat-icon>
        </div>
    </div>
    <ng-template #elseBlock>
    <div class="no-recent">
    <div class="img">
        <img  src="/assets/icon_nothing.png">
    </div>
    <div class="imgline">
        No Recent Search
    </div>
   
</div>
</ng-template>
<div class="recent" *ngIf="recentSearch;else elseBlock">
    <div class="tableContent">
        <div class="count">
            <p>You recently searched for</p>
        </div>
        <div class="removeBtn">
            <button (click)="openDialog()">Clear All</button>
        </div>
    </div>
    <div class="table">
    <table >
        <tr>
            <td>{{cityName}},Karnataka</td>
            <td><img class="weatherImg" [src]="weatherImg" ></td>
            <td>{{temp}}&#176;</td>
            <td>{{weatherInfo}}</td>
            <td><mat-icon class="color">favorite </mat-icon></td>
        </tr>
        <!-- <tr>
            <td>{{recent[0]}},Karnataka</td>
            <td><img class="weatherImg" [src]="recent[3]"></td>
            <td>{{recent[1]}}&#176;</td>
            <td>{{recent[2]}}</td>
            <td><mat-icon class="color">favorite </mat-icon></td>
        </tr> -->
    </table>
    </div>
    <table class="mediaTable" >
        <div class="table-1">
        <div>{{cityName}},Karnataka</div>
        <div class="tableimg">
        <div class="info">
            <div><img class="weatherImg" [src]="weatherImg"></div>
            <div>{{temp}}&#176;</div>
            <div class="weatherinfo">{{weatherInfo}}</div>
        </div>
        <div>
            <mat-icon class="color">favorite </mat-icon>
        </div>
    </div>
    </div>
    <!-- <table class="mediaTable" *ngFor="let recent of recentSearchHistory;index as i">
        <div class="table-1">
        <div>{{recent[0]}},Karnataka</div>
        <div class="tableimg">
        <div class="info">
            <div><img class="weatherImg" [src]="recent[3]"></div>
            <div>{{recent[1]}}&#176;</div>
            <div class="weatherinfo">{{recent[2]}}</div>
        </div>
        <div>
            <mat-icon class="color">favorite </mat-icon>
        </div>
    </div>
    </div> -->
    </table>
    
    </div>
</div>
