<div>
    <div class="head">
        <app-headder></app-headder>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="gallery">
        <div class="image">
          
            <img  class="image1" src="/assets/Rectangle Copy 6.png">
            <div class="icon">
                <mat-icon>favorite</mat-icon>
            </div>
            <div class="owner">
             <div>
                <img src="/assets/Oval.png">
             </div>
             <div>Ariana&nbsp;Barros</div>
            </div>
           
    
  </div>
  <div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
  <div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 5.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 5.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 5.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 5.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 5.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
<div class="image">
          
    <img  class="image1" src="/assets/Rectangle Copy 6.png">
    <div class="icon">
        <mat-icon>favorite</mat-icon>
    </div>
    <div class="owner">
     <div>
        <img src="/assets/Oval.png">
     </div>
     <div>Ariana&nbsp;Barros</div>
    </div>
   

</div>
            
           
        </div>
       
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>



