{{recentPhoto()}}

<div>
    <div class="head">
        <app-headder></app-headder>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="gallery">
        <div class="image" *ngFor="let d of data" >
          <div></div>
            <img  class="image1" src="{{d.src.medium}}" (click)="detailsToImage(d)">
            <div class="icon">
                {{checkFev(d)}}
                <mat-icon (click)="addtoFavourite(d)"  [class.color]="color" [class.heart]="heart">favorite</mat-icon>
                <mat-icon (click)="removeFavourite(d)" *ngIf="heart" [class.color]="color">favorite</mat-icon>
            </div>
            <div class="owner">
             <div >
                <img src="/assets/Oval.png">
             </div>
             <div >{{d.photographer}}</div>
            </div>
           
    
  </div>
           
        </div>
       
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>



