<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
<app-navbar></app-navbar>
    </div>
    <div class="charaContent" *ngFor="let vehi of vehicles.results">
         <a (click)="storeData(vehi)">{{vehi.name}}</a>
    </div>
    <div class="buttons" (click)="previous()" [class.disbutton]="vehicles.previous==null">
        <div class="prebtn">
            <button type="submit" [disabled]="this.vehicles.previous==null">PREVIOUS</button>
        </div>
        <div class="nextbutton" (click)="next()" [class.disbutton]="vehicles.next==null" >
            <button class="nextbutton" type="submit" [disabled]="this.vehicles.next==null">NEXT</button>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
