*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.menubar{
    display:none;
    color:#fff;
}
 .header{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
} 

.mediaSearch{
    display:flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 3%;
    width:100vh;
    z-index: 1;
    height: 100vh;
     margin-right: 0; 
    padding-left: 30%; 
    display:none;
   
}
.input{
    outline: none;
    border:none;
    color:#000;
}
.clear{
    opacity:0.4;
}
.searchbar{
     height: 6.54%;
    
    
}
.searchbar ::placeholder{ 
    color: white;
    opacity: 1; 
  }
.searchField{
    color: #fff;
}
.searchIcon{
    color: #fff;
}

.list ul{
    display:flex;
    list-style: none;
   gap:1rem;
}
.list ul li {
    padding-left: 10%;
    margin-bottom: 0%;
    
}
.list ul li a{
    font-family: 'Roboto';
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 0.9rem;
    line-height: 1rem;
   
}
.list ul li a:hover{
    color:#ffd639;
    border-bottom:1.5px solid #ffd639;
}
.components{
    display: flex;
    justify-content:space-between;
    padding-left:8.5%;
    padding-right: 10%;
    
}
.date{
    margin-bottom: 0%;
    padding: 0%;
    height: 2.33%;
    width:30%;
    font-size:0.9rem;
    letter-spacing: 0;
    line-height: 1rem;
    text-align: right;
    color:#fff
}
.line{
    margin-left:10%;
    padding: 0%;
    margin-top:-2.6%;
    box-sizing: border-box;
    height: 0.15%;
    width:80%;
    border: 1px solid #fff;
    opacity: 0.3;
}
@media screen and (max-width:360px) {
    .date{
       
        margin-left:-10%;
        
        
    }
}
@media screen and (max-width:670px) {
    
    .list ul li {
        padding-left: 1rem;
        margin: 0%;
        
    }
   
}
@media screen and (max-width:850px){
    .date{
        width:50%;
    }
    .line{
        margin-top:-3%;
    }

}
    

@media  screen and (max-width:480px) {
    .menubar{
        display: block;
    }
    .header{
        display:flex;
    }
    .searchbar{
        display:none;

    }
    
    .mediaSearch{
        display:flex;
        position: fixed;
        background-color: #fff;
        padding: 3%;
        width:100vw;
        z-index: 1;
        height: 100vh;
        margin-top:-26%;
        color:rgba(0,0,0,0.3);
        font-family: 'Roboto';
        font-size:0.875rem;
        line-height: 2rem;
        transition: all 0.5s ease-in-out;
       display:none;
        
      
    }
    .serachClass{
        display: flex;
        padding: 5%;
        transition: all 0.5s ease-in-out;
    }
    .list {
        position: fixed;
        z-index: 1;
        height: 100% ;
        width:70%;
        padding: 10%;
        margin-top: -20%;
        margin-left: -8.5%;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        display: none;
        
    }
    .list ul{
        display: block;
        
    }
    .list ul li{
        display:flex;
        margin:0;
        text-align:left;
        background-color: #fff;
        padding: 5%;
    }
    .list ul li a{
        text-align: left;
        color:#707070;
        text-transform: lowercase;  
    }
    .list ul li a::first-letter{
        text-transform: uppercase;
    }
    .menuClass{
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .list ul li a:hover{
        color:#000;
        border-bottom: none;
    }
    .components{
        display: block;
        text-transform: uppercase;
    }
    .date h3{
        width: 15rem;
        color:#fff;
        opacity:0.6;
        font-family: 'Roboto';
        font-size:0.8125rem;
        letter-spacing: 1.5px;
        line-height: 0.9375rem;
        text-align:center;
        margin: 5%;
        margin-left: 30%;
       padding: 5%;
        
    }
    .line{
        display: none;
    }
   

}
@media screen and (min-width:980px) and (max-width:1100) {
    .line{
        margin-left:10%;
        padding: 0%;
        margin-top:-2.2%;
        box-sizing: border-box;
        height: 0.15%;
        width:80%;
        border: 1px solid #fff;
        opacity: 0.3;
    }
}
@media screen and (min-width:1200px) {
    .line{
        margin-left:10%;
        padding: 0%;
        margin-top:-2%;
        box-sizing: border-box;
        height: 0.15%;
        width:80%;
        border: 1px solid #fff;
        opacity: 0.3;
    }
}