<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="{{image}}">
        </div>
        <div class="yodaDes">
            <h1>{{this.planetDetails.name | uppercase}}</h1>
            <div class="paragraph">
                <div>Climate&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.climate | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Diameter&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.diameter}}</p>
            </div>
            <div class="paragraph">
                <div>Gravity&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.gravity}}</p>
            </div>
            <div class="paragraph">
                <div>Orbital_period&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.orbital_period}}</p>
            </div>
            <div class="paragraph">
                <div>Population&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.population}}</p>
            </div>
            <div class="paragraph">
                <div>Residents&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.residents}}</p>
            </div>
            <div class="paragraph">
                <div>Rotation_period&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.rotation_period}}</p>
            </div>
            <div class="paragraph">
                <div>Surface_water&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.surface_water}}</p>
            </div>
            <div class="paragraph">
                <div>Terrain&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.terrain | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>films&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.films}}</p>
            </div><div class="paragraph">
                <div>url&nbsp;:&nbsp;</div>
                <p>{{this.planetDetails.url}}</p>
            </div>
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>


