.like{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-block-start: 2%;
   
}
.fav{
    display: flex;
    color: #fff;
    margin-left: 14rem;
}
h2.location{
    height: 4%;
    width:10%;
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    margin-left: 14rem;
}
.like{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1rem;
    font-family: 'Roboto';
}
.heartColor{
    color:#FAD05B;
}
.button{
    display: flex;
}
.tempBtn button{
    cursor: pointer;
    width: 2rem;
    height: 5vh;
    color:#fff;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
}
.tempBtn button:first-child.centi{
    color:red;
    background-color: #fff;
}
.tempBtn button:last-child.fara{
    color:red;
    background-color: #fff;
}
.tempBtn button:active{
    color:red;
    background-color: #fff;
}
 .tempBtn button:hover {
    background-color: #fff;
    color:red;
  }
  .tempBtn button:visited{
    color:red;
    background-color: #fff;
}
.center{
    margin-block-start: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.insideTemp h1{
    /* height: 10.9%;
    width: 6.08%; */
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 4.68rem;
}
.report h2{
    height: 3.63%;
    width: 30vw;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    text-align: center;
}
.temp{
    display: flex;
    align-items: center;
    padding: 1%;
}
.line{
    margin-block-start: 7%;
    box-sizing: border-box;
    height: 0.15%;
    width: 80%;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    margin-left: 10%;
    
  
  }
  .lineCopy{
    box-sizing: border-box;
    width:100%;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    display: none;
  }
  .cast{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    
}
.castDetail h2{
    color:#fff;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    width:100%;
   
    
}
.castDetail h1{
    color: #fff;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.6rem;
}
.footer{
    display: flex;
    justify-content: center;
    gap:9rem;
    align-items: center;
    margin-block-start: 3%;
   
   
   
}
@media screen and (max-width:1800px){
    h2.location,.fav{
        margin-left: 12.5rem;
    }
}
@media screen and (max-width:1600px){
    h2.location,.fav{
        margin-left: 11.5rem;
    }
    .footer{
        gap:7rem;
    }
}
@media screen and (max-width:1400px){
    h2.location,.fav{
        margin-left: 11rem;
    }
    .footer{
        gap:5rem;
    }
}
@media screen and (max-width:1200px){
    h2.location,.fav{
        margin-left: 9.5rem;
    }
    .footer{
        gap:3rem;
    }
}
@media screen and (max-width:1000px){
    h2.location,.fav{
        margin-left: 8rem;
    }
    .footer{
        gap:2rem;
    }
}
@media screen and (max-width:750px){
   .like{
    align-items: center;
    
   }
   h2.location,.fav{
    margin-left: 0;
}
div.line{
    display: none;
    
}
.lineCopy{
    display: flex;
}
.like,.center{
    margin-right: 7%;
}
.footer{
    /* align-items: center;
    justify-content: left;
    overflow:auto; */
    width: 100%;
    justify-content: left;
    overflow-x: scroll;
}
.footer::-webkit-scrollbar {
    
    display: none;
}

}