<div>
    <div class="header">
       <app-home></app-home> 
    </div>
    <div class="like">
    <div>
        <h2 class="location">Udupi,Karnataka</h2>
    </div>
    <div class="fav">
        <div class="onFav" >
            <mat-icon>favorite</mat-icon>
        </div>
        <div>
            <h3 class="color">Add to favorite</h3>
        </div>
    </div>
</div>
<div class="center">
    <div class="image">
        <img src="/assets/icon_mostly_sunny.png">
    </div>
    <div class="temp">
        <div class="insideTemp">
<h1>87</h1>
    </div>
    <div class="tempBtn">
        <div class="button">
            <button>&#8451;</button>
            <button>&#8457;</button>
        </div>
    </div>
</div>
    <div class="report"> 
        <h2>Mostly&nbsp;Sunny</h2>
    </div>
</div>
<div class="line"></div>
<div class="footer">
    <div class="cast">
        <div>
            <img src="/assets/icon_temperature_info.png">
        </div>
        <div class="castDetail">
            <h2>Min-Max</h2>
            <h1>75&#176;-90&#176;</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_precipitation_info.png">
        </div>
        <div class="castDetail">
            <h2>Pressure</h2>
            <h1>0Pa</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_humidity_info.png">
        </div>
        <div class="castDetail">
            <h2>Humidity</h2>
            <h1>47%</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_wind_info.png">
        </div>
        <div class="castDetail">
            <h2>Wind</h2>
            <h1>4mph</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_visibility_info.png">
        </div>
        <div class="castDetail">
            <h2>Visibility</h2>
            <h1>10km</h1>
        </div>
        
    </div>
</div>
</div>
