{{call()}}
<div>
    <div class="header">
       <app-home></app-home> 
    </div>
    <div class="like">
    <div>
        <h2 class="location">{{weatherdata.name}}</h2>
    </div>
    <div class="fav" *ngIf="weatherdata['like']==false">
        <div class="onFav" >
            <mat-icon (click)="addtoFavorite()" [class.heartColor]="color">favorite</mat-icon>
        </div>
        
        <div>
            <h3 class="color" [class.heartColor]="color">Add to favorite</h3>
        </div>
    </div>
    <div class="fav" *ngIf="weatherdata['like']==true">
        <div class="onFav" >
            <mat-icon (click)="removeFavourite()" [class.heartColor]="color">favorite</mat-icon>
        </div>
        
        <div>
            <h3 class="color" [class.heartColor]="color">Add to favorite</h3>
        </div>
    </div>
</div>
<div class="center">
    <div class="image">
        <!-- <img src="/assets/icon_mostly_sunny.png"> -->
        <img src="http://openweathermap.org/img/wn/{{ weatherdata.icon }}@2x.png">
    </div>
    <div class="temp">
        <div class="insideTemp">
<h1>{{temp}}</h1>
    </div>
    <div class="tempBtn">
        <div class="button">
            <button (click)="tempcenti()"[class.centi]="centi">&#8451;</button>
            <button (click)="tempFara()"[class.fara]="fara">&#8457;</button>
        </div>
    </div>
</div>
    <div class="report"> 
        <h2>{{weatherdata.description | titlecase}}</h2>
    </div>
</div>
<div class="line"></div>
<div class="lineCopy"></div>

<div class="footer">
    <div class="cast">
        <div>
            <img src="/assets/icon_temperature_info.png">
        </div>
        <div class="castDetail">
            <h2>Min-Max</h2>
            <h1>{{temp_max}}&#176;-{{temp_min}}&#176;</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_precipitation_info.png">
        </div>
        <div class="castDetail">
            <h2>Pressure</h2>
            <h1>{{pressure}}Pa</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_humidity_info.png">
        </div>
        <div class="castDetail">
            <h2>Humidity</h2>
            <h1>{{humidity}}%</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_wind_info.png">
        </div>
        <div class="castDetail">
            <h2>Wind</h2>
            <h1>{{wind}}mph</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_visibility_info.png">
        </div>
        <div class="castDetail">
            <h2>Visibility</h2>
            <h1>{{visibility}}km</h1>
        </div>
        
    </div>
</div>
</div>
