table, th, td {
    /* border: 1px solid ; */
    text-align: center;
    background-color: lavender;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  .error{
    color: red;
    text-align: center;
    border: 1px solid lightcoral;
  }
  h1{
    text-align: center;
  }