<div class="container">
    <div class="header">
        <div class="logo">
            <img class="weather-img" src="/assets/logo_web.png">
        </div>
        <div class="searchbar" >
            <mat-form-field appearance="outline">
                <input class="searchField" type="text" matInput placeholder=" Search city">
                <mat-icon matSuffix class="searchIcon">search</mat-icon>
              </mat-form-field>
        </div>
    </div>
    <div class="components">
        <div class="list">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">FAVORITE</a></li>
            <li><a href="#">RECENTSEARCH</a></li>
        </ul>
    </div>
    <div class="date">
        <h3>{{date| date:'ccc'}},{{date|date:'dd MMM YYYY HH:mm:ss a'}}</h3>
    </div>
    </div>
    <div class="line"></div>
    <!--home Content-->
    <div>
        <h2 class="location">Udupi,Karnataka</h2>
    </div>
    <div class="favorite">
        <div>
            <mat-icon>favorite_border </mat-icon>
        </div>
        <div>
            <h3>Add to favorite</h3>
        </div>
        
        
        <!-- <h3>&#9825; Add to fav0urite</h3> -->
    </div>
    <div class="weatherimg">
        <img src="/assets/icon_mostly_sunny.png">
    </div>
    <div class="weatherTemp">
        <div class="temp">
            <h1>87</h1>
        </div>
        <div class="tempBtn">
            <button>&#8451;</button>
            <button>&#8457;</button>
        </div>
    </div>
    <div class="report">
        <h2>Mostly Sunny</h2>
    </div>
    <div class="line-copy"></div>
<!--footer-->
<div class="footer">
    <div class="cast">
        <div>
            <img src="/assets/icon_temperature_info.png">
        </div>
        <div class="castDetail">
            <h2>Min-Max</h2>
            <h1>75&#176;-90&#176;</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_precipitation_info.png">
        </div>
        <div class="castDetail">
            <h2>Precipitation</h2>
            <h1>0%</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_humidity_info.png">
        </div>
        <div class="castDetail">
            <h2>Humidity</h2>
            <h1>47%</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_wind_info.png">
        </div>
        <div class="castDetail">
            <h2>Wind</h2>
            <h1>4mph</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_visibility_info.png">
        </div>
        <div class="castDetail">
            <h2>Visibility</h2>
            <h1>12mph</h1>
        </div>
        
    </div>
</div>
</div>

