
/*home-content*/
.location{
    height: 4%;
    width:13%;
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    padding-top:3%;
    margin-left: 9%;
}
.favorite{
    display:flex;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1rem;
    font-family: 'Roboto';
    margin-left: 11%;
}
.onFav{
    color:#ffd639;
}
.weatherimg{
    margin-top: 2%;
    margin-left: 50%;
}
.weatherTemp{
    display: flex;
}
.temp{
    
    margin-left: 50%;
    height: 11%;
    color:#fff;
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 4.7rem;
}
.tempBtn button{
    margin-top: 10%;
    cursor: pointer;
   
    
}
.tempBtn button:active{
    color:red;
    background-color: #fff;
}
button:visited {
    background-color: #fff;
    border-color: red;
    color:red;
  }
.report{
    height: 3.63%;
    width: 11%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    text-align: center;
    margin-left: 49%;
}

/*footer*/
.line-copy{
    box-sizing: border-box;
    height: 0.15%;
    width: 80%;
    border: 1px solid #fff;
    opacity:0.3;
    margin:7%;
    margin-left:10%;
    
}
.cast{
    display: flex;
    justify-content: space-around;
    width:7%;
}
.castDetail h2{
    color:#fff;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    margin: 1%;
    padding: 3%;
    
}
.castDetail h1{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.6rem;
}
.footer{
    display: flex;
    justify-content: space-evenly;
   
}
@media  screen and (max-width:280px){
    .report h2{
        height: 3.63%;
        width: 50%;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.6rem;
        text-align: center;
        margin-left: 60%;
    }
}
@media  screen and (max-width:360px){
    h2.location{
        margin-right: 0%;
        margin-left: 23%;
    }
    .favorite div {
        margin-left: -1%;
    }

}
@media  screen and (max-width:480px){
    .location{
        margin-left: 30%;
    }
    .favorite{
        margin-left: 37%;
    }
    .weatherimg{
        margin-left: 38%;
    }
    .weatherTemp{
        margin-left: -30%;
    }
    .tempBtn button{
         margin-top:10%
    }
    .report{
        width: 30%;
        margin-left: 35%;
    }
    .line-copy{
        width: 100%;
        margin-left: 0%;
    }
    .cast{
        width: 50%;
        margin:5%;
    }
     
    .footer{
        overflow: auto;
    }
    .footer::-webkit-scrollbar {
        display: none;
    }
}
@media  screen and (max-width:700px) and (min-width:480px){
    .footer{
        overflow: auto;
    }
    .footer::-webkit-scrollbar {
        display: none;
    }
    .cast{
        width:50%;
        margin:3%;
    }
}