<div class="container">
    <app-home-page></app-home-page>
    <!--home Content-->
    <div>
        <h2 class="location">{{data.cityName}},Karnataka</h2>
    </div>
    <div class="favorite">
       
        <div *ngIf="!color;else elseBlock" class="fav">
            <mat-icon (click)="onClickFav()">favorite_border </mat-icon>
        </div>
        <ng-template #elseBlock>
        <div class="onFav" >
            <mat-icon>favorite</mat-icon>
        </div>
    </ng-template>
        <div>
            <h3>Add to favorite</h3>
        </div>
    </div>
 <div class="center">
    <div class="weatherimg">
        <!-- <img src="/assets/icon_mostly_sunny.png"> -->
        <img [src]= "data.image">
    </div>
    <div class="weatherTemp">
        <div class="temp">
            <h1>{{data.temp}}</h1>
        </div>
        <div class="tempBtn">
            <div class="tBtn">
                <button (click)="tempConvert()" >&#8451;</button>
                <button (click)="tempFara()" >&#8457;</button>
            </div>
           
        </div>
    </div>
    <div class="report">
        <h2>{{data.info | titlecase}}</h2>
    </div>
 </div>
    <div class="line-copy"></div>
<!--footer-->
<div class="footer">
    <div class="cast">
        <div>
            <img src="/assets/icon_temperature_info.png">
        </div>
        <div class="castDetail">
            <h2>Min-Max</h2>
            <h1>{{data.temp_Max}}&#176;-{{data.temp_min}}&#176;</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_precipitation_info.png">
        </div>
        <div class="castDetail">
            <h2>Pressure</h2>
            <h1>{{data.pressure}}hPa</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_humidity_info.png">
        </div>
        <div class="castDetail">
            <h2>Humidity</h2>
            <h1>{{data.humidity}}%</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_wind_info.png">
        </div>
        <div class="castDetail">
            <h2>Wind</h2>
            <h1>{{data.wind}}mph</h1>
        </div>
        
    </div>
    <div class="cast">
        <div>
            <img src="/assets/icon_visibility_info.png">
        </div>
        <div class="castDetail">
            <h2>Visibility</h2>
            <h1>{{data.visibility}}km</h1>
        </div>
        
    </div>
</div>
</div>

