<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="{{this.image}}">
        </div>
        <div class="yodaDes">
            <h1>{{this.speciesDetails.name | uppercase}}</h1>
            <div class="paragraph">
                <div>Height&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.average_height}}</p>
            </div>
            <div class="paragraph">
                <div>LifeSpan&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.average_lifespan}}</p>
            </div>
            <div class="paragraph">
                <div>Classification&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.classification | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Designation&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.designation | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Eye_color&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.eye_colors | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Hair_color&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.hair_colors | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Skin_color&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.skin_colors | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Homeworld&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.homeworld}}</p>
            </div>
            <div class="paragraph">
                <div>Language&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.language}}</p>
            </div>
            <div class="paragraph">
                <div>People&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.people}}</p>
            </div>
            <div class="paragraph">
                <div>Films&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.films}}</p>
            </div>
            <div class="paragraph">
                <div>url&nbsp;:&nbsp;</div>
                <p>{{this.speciesDetails.url}}</p>
            </div>
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>

