<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="container">
    <div class="profileimages">
        <figure>
            <img src="/assets/image3normal.png">
            <figcaption>FILMS</figcaption>
        </figure>
        <figure>
            <img src="/assets/speciesnormal.png">
            <figcaption>SPECIES</figcaption>
        </figure>
        <figure>
            <img src="/assets/image4normal.png">
            <figcaption>PLANETS</figcaption>
        </figure>
        <figure>
            <img src="/assets/people1.png">
            <figcaption>CHARACTERS</figcaption>
        </figure>
        <figure>
            <img src="/assets/vehiclenormal.png">
            <figcaption>STARSHIP</figcaption>
        </figure>
        <figure>
            <img src="/assets/image2.png">
            <figcaption>VEHICLES</figcaption>
        </figure>
        

    </div>
</div>
<div class="footer">
<app-footer></app-footer>
</div>
</div>
