<div class="form">
    
<div class="ismsform">
    <div class="empimg">
        <div>
            <img class="person-img" src="/assets/img/person.jpg" alt="person" >
          </div>
          <div>
            <p>Rajani</p>
           <p> RT Number:RT03379</p>
          </div>
    </div>

  <div>
  <h1>ISMS training</h1>

<p>Description of why these terms and conditions are necessary</p>
</div>
<div>
    
        <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
      
</div>
</div>
<div>
    <div class="ppt">
      <ng-container *ngIf="checked">
        <div class="top">
        <div class="terms">
          <div  >
            <img class="round" src="../assets/img/correct.png">
            <!-- <mat-icon>check</mat-icon> -->
          
        </div>
              <div>
                <div class="line">Thankyou for accepting Terms & conditions</div>
                </div>
             <div> 
              <!-- <mat-icon>cross</mat-icon> -->
              <img class="round" src="../assets/img/close.png" (click)="onCross()">
            </div>      
          </div>
        </div>
      </ng-container>
    </div>
    
</div>

<div class="check">
    <mat-checkbox [(ngModel)]="checked">I have read all the Terms & Conditions</mat-checkbox>
</div>
<div class="condition">
    By clicking 'I Agree' button you hereby agree to follow all the guidelines mentioned above.
</div>
<div>
    <button>I Agree</button>
</div>
<div class="footer">
    Robosoft Technologies 1996-2020
</div>
</div>
