<div class="form">
    
<div class="ismsform">
    <div class="empimg">
        <div>
            <img class="person-img" src="/assets/img/person.jpg" alt="person" >
          </div>
          <div>
            <p>Rajani</p>
           <p> RT Number:RT03379</p>
          </div>
    </div>

  <div>
  <h1>ISMS training</h1>

<p>Description of why these terms and conditions are necessary</p>
</div>
<div>
    
        <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
      
</div>
</div>
<div>
    <div class="ppt"></div>
    <ng-container>
        <mat-toolbar>
            <button mat-mini-fab >
              <mat-icon>check</mat-icon>
            </button>
            <span>Thankyou for accepting Terms & conditions</span>
            <span class="example-spacer"></span>
            <button mat-icon-button >
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-toolbar>
    </ng-container>
</div>

<div class="check">
    <mat-checkbox >I have read all the Terms & Conditions</mat-checkbox>
</div>
<div class="condition">
    By clicking 'I Agree' button you hereby agree to follow all the guidelines mentioned above.
</div>
<div>
    <button>I Agree</button>
</div>
<div class="footer">
    Robosoft Technologies 1996-2020
</div>
</div>
