<div>
    <div class="header">
       <app-home></app-home> 
    </div>
    <div class="mobile">
        <div class="back">
            <div>
                <mat-icon routerLink="/homePage">keyboard_backspace</mat-icon>
            </div >
            <div class="fav">Favourite</div>
        </div>
        <div>
            <mat-icon>search</mat-icon>
        </div>
    </div>
    <div class="noFav" *ngIf="count == 0 ">
        <div class="img">
            <img  src="/assets/icon_nothing.png">
        </div>
        <div class="imgline">
            No Favourites added
        </div>
    </div>
    <div class="favourites" *ngIf="count>0">
        <div class="tableContent">
            <div class="count">
                <p>{{count}}&nbsp;City&nbsp;added&nbsp;as&nbsp;favorite</p>
            </div>
            <div class="removeBtn">
                <button (click)="openDialog()">Remove All</button>
            </div>
        </div>
        <div class="tablebox">
        <div class="table" *ngFor="let fev of fevouriteData;index as i">
           <table >
           
                <div  (click)="detailsToHome(fev)">{{fev.name}}</div>
                <div class="inside">
                <div>
                    <img class="weatherimg" src="http://openweathermap.org/img/wn/{{ fev.icon }}@2x.png" >
                </div>
                <!-- <td><img src="/assets/icon_mostly_sunny_small.png"></td> -->
               <div>{{(fev.temp-273.15).toFixed(0)}}&#176;</div>
               <div>
                {{fev.description | titlecase}}
               </div>
            </div>
                <div>
                    <mat-icon class="color" (click)="removeFavourite(fev)">favorite </mat-icon>
                </div>
                
                
            
           </table>
        </div>
        <table class="mediaTable" *ngFor="let fev of fevouriteData;index as i" >
            <div class="table-1">
            <div class="name" (click)="detailsToHome(fev)">{{fev.name}}</div>
            <div class="tableimg">
            <div class="info">
                <div><img class="weatherimg"src="http://openweathermap.org/img/wn/{{ fev.icon }}@2x.png"></div>
                <div class="tempinfo">{{(fev.temp-273.15).toFixed(0)}}&#176;</div>
                <div class="weatherinfo">{{fev.description | titlecase}}</div>
            </div>
            <div class="heart">
                <mat-icon class="color" (click)="removeFavourite(fev)">favorite </mat-icon>
            </div>
            
        </div>
        </div>
        </table>
    </div>
   
        
    </div>
</div>
