<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
<app-navbar></app-navbar>
    </div>
    <div class="charaContent" *ngFor="let specie of species.results">
         <a (click)="storeData(specie)">{{specie.name}}</a>
         <!-- <a>luke&nbsp;skywalker</a>
         <a>obi-wan&nbsp;kenobi</a>
         <a routerLink="/yoda">yoda</a>
         <a>rey</a>
         <a>darth&nbsp;vader</a>
         <a>luke&nbsp;skywalker</a>
         <a>obi-wan&nbsp;kenobi</a>
         <a>yoda</a>
         <a>rey</a> -->
    </div>
    <div class="buttons">
        <div class="prebtn" (click)="previous()" [class.disbutton]="this.species.previous == null">
            <button type="submit" [disabled]="this.species.previous == null">PREVIOUS</button>
        </div>
        <div class="nextbtn" (click)="next()" [class.disbutton]="this.species.next == null">
            <button type="submit" [disabled]="this.species.next == null">NEXT</button>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
