
    <div class="back">
       <div class="logo">
        <img src="/assets/Logo.png">
       </div>
       <div class="imgline">
        <h1>Discover&nbsp;the&nbsp;world's&nbsp;best&nbsp;photos&nbsp;&&nbsp;videos</h1>
       
        <p>Best&nbsp;memories&nbsp;online</p>
        <div class="searchBar">
            <div class="input">
                <input class="field" type="text" placeholder="Search photos,videos,artists" [(ngModel)]="search">
            </div>
            <div>
                <button class="button" (click)="searchPhoto()">Search</button>
            </div>
        </div>
       </div>
       <div class=" medialine">
        <h1>Discover&nbsp;the&nbsp;world's</h1>
        <h1>best&nbsp;photos&nbsp;&&nbsp;videos</h1>
        <p>Best&nbsp;memories&nbsp;online</p>
    </div>
    <div class="mediaSearch">
        <div>
            <mat-icon (click)="searchPhoto()">search</mat-icon>
        </div>
            <div class="input">
                <input class="field" type="text" placeholder="Search photos,videos,artists" [(ngModel)]="search">
            </div>
        
    </div>
    </div>
    

