/* .first {
  display: flex;
  justify-content: space-between;
}
.home-head{
    height: 100px;
    width:1500px;
    opacity: 0.98;
    background-color: #fff;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.14);
}
.person-img{
    border-radius: 50%;
    height: 30px;
    
} */

mat-card{
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
  .img{
    height: 54px;
    width:280px;
    padding-left:5%;
  }
  .person-img{
    border-radius: 50%;
    height: 30px;
    float: right;
    margin-right: 7%;
    margin-bottom: 10%;
   
    
} 
.person{
  margin-bottom: 50%;
}
 
  