<div class="first">

  <mat-card>
    
    <div>
      <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
    </div>
    <div>
     
    </div>
    <div class="person" >
      <p>rajani <span> <img class="person-img" src="/assets/img/person.jpg" alt="person" ></span></p>
     
    </div>
      
      

  </mat-card>
  
  
</div>
<div>
  <form class="form1">
    <h2>Questionnaire</h2>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Title</mat-label>
        <input matInput placeholder="Enter Title">
        <mat-hint>Please enter appropriate title</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Title">
      </mat-form-field>
    </div>
    <div class="button">
      <mat-form-field appearance="outline">
        <mat-label>Button Title</mat-label>
        <input matInput placeholder="Button Title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Button Text</mat-label>
        <input matInput placeholder="Button Text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Check box text</mat-label>
        <input matInput placeholder="check box text">
      </mat-form-field>
    </div>
    <h2>Additional Details</h2>
    <div class="date">
      <mat-form-field appearance="outline">
        <mat-label>Select start date</mat-label>
        <input type="date" matInput placeholder="select start date">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>select end date</mat-label>
        <input type="date" matInput placeholder="select end date">
      </mat-form-field>
      <mat-form-field class="auto" appearance="outline">
        <mat-label>Auto reminder</mat-label>
        <input  matInput placeholder="auto reminder">
      </mat-form-field>
    </div>
    <div class="ppt">
      <mat-form-field appearance="outline">
        <mat-label>Select content ppt file</mat-label>
        <input matInput placeholder="Enter ppt">
        <mat-icon matSuffix>backup</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select participant X1 sheet</mat-label>
        <input matInput placeholder="Enter ppt">
        <mat-icon matSuffix>backup</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Mail Body</mat-label>
        <input matInput placeholder="Enter ppt">
      </mat-form-field>
    </div>
  </form>
</div>
<div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">save</mat-icon>
    </button>
    <span class="color">SAVE</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">preview</mat-icon>
    </button>
    <span class="color">PREVIEW</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">publish</mat-icon>
    </button>
    <span class="color">PUBLISH</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">ic_remind</mat-icon>
    </button>
    <span class="color">REMIND</span>
  </mat-toolbar>
</div>
</div>