<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="home">
<div class="first">
  <mat-card>
    <div class="image">
      <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
    </div>
    <div class="person" >
      <div>rajani </div>
      <div>
        <img class="person-img" src="/assets/img/person.jpg" alt="person" >
      </div>
    </div>
  </mat-card>
</div>

<div class="policy">
<!--your questionnaires-->
<div class="your-questionnaries">
  <div class="upword">
    <div class="paragraph">
      <p>Your</p>
  <p>Questionnaires</p>
    </div>
  
  <div>
    <button class="btn" mat-raised-button color="accent" type="submit" >NEW QUESTIONNAIRES</button>
  
  </div>
  </div>
 <div class="downword">
  <div >
    <button class="downbtn" mat-raised-button  type="submit" >Secure coding Guidelines</button>
  </div>
  <div class="option">
    <span >ISMS Questionnaire</span>
    <button class="align" mat-icon-button >
      <mat-icon >arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="option">
    <span >PA Questionnaire</span>
    <button class="align" mat-icon-button >
      <mat-icon >arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="option">
    <span >Process Guidelines</span>
    <button class="align" mat-icon-button >
      <mat-icon >arrow_forward_ios</mat-icon>
    </button>
  </div>
 </div>

</div>

<!--form-->
<div class="form">
  <div class="form1">
  <form >
    <h2>Questionnaire</h2>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Title</mat-label>
        <input matInput placeholder="Enter Title">
        <mat-hint>Please enter appropriate title</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Title">
      </mat-form-field>
    </div>
    <div class="button">
      <mat-form-field appearance="outline">
        <mat-label>Button Title</mat-label>
        <input matInput placeholder="Button Title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Button Text</mat-label>
        <input matInput placeholder="Button Text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Check box text</mat-label>
        <input matInput placeholder="check box text">
      </mat-form-field>
    </div>
    <h2>Additional Details</h2>
    <div class="date">
      <mat-form-field appearance="outline">
        <!-- <input type="date" matInput placeholder="select start date"> -->
        <mat-label>select start date</mat-label>
        <input matInput [matDatepicker]="picker" matInput placeholder="dd/mm/yyyy">
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>select end date</mat-label>
        <!-- <input type="date" matInput placeholder="select end date"> -->
        <input matInput [matDatepicker]="picker2" matInput placeholder="dd/mm/yyyy">
       <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
       <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="auto" appearance="outline">
        <mat-label>Auto reminder</mat-label>
        <input  matInput placeholder="auto reminder">
      </mat-form-field>
    </div>
    <div class="ppt">
      <mat-form-field appearance="outline">
        <mat-label>Select content ppt file</mat-label>
        <input matInput placeholder="Enter ppt">
        <mat-icon color="accent" matSuffix>backup</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select participant X1 sheet</mat-label>
        <input matInput placeholder="Enter ppt">
        <mat-icon color="accent" matSuffix>backup</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Mail Body</mat-label>
        <input matInput placeholder="Enter ppt">
      </mat-form-field>
    </div>
  </form>
 
</div>

<div class="line">

<!--icons-->
<div class="icons">
<div >
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">save</mat-icon>
    </button>
    <span class="color">SAVE</span>
  </mat-toolbar>
</div>
<div >
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">preview</mat-icon>
    </button>
    <span class="color">PREVIEW</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">publish</mat-icon>
    </button>
    <span class="color">PUBLISH</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">add_alert</mat-icon>
    </button>
    <span class="color">REMIND</span>
  </mat-toolbar>
</div>
<div>
  <mat-toolbar>
    <button mat-icon-button >
      <mat-icon color="accent">article</mat-icon>
    </button>
    <span class="color">GENRATE REPORT</span>
  </mat-toolbar>
</div>
</div>


  
</div>
<div class="add">
  <!-- <button (click)="openDialog()" mat-fab color="accent">
    <mat-icon>add</mat-icon>
  </button> -->
  <div class="addRemove">
    <!-- <ng-container  *ngIf="dis ">
        <button class="addbtn" mat-raised-button color="accent" type="submit" routerLink="/changePassword">
          <span class="extra">Change Password</span> 
         </button>
        <button class="addbtn" mat-raised-button color="accent" type="submit" >
          <span class="extra" >Add/Remove Super Admins </span> 
         </button>
        <button class="addbtn" mat-raised-button color="accent" type="submit" >
        <span class="extra">Add/Remove Admins</span> 
       </button>
    </ng-container>  -->
  <button *ngIf="select" (click)="onClick()" mat-fab color="accent">
    <ng-container >
      <mat-icon>add</mat-icon>
    </ng-container>
    <!-- <ng-template #elseBlock >
      <mat-icon>close</mat-icon>
    </ng-template> -->
   
  </button>
  
  
  
</div>
</div>

</div>
</div>

<footer>
  <div class="copyright">
    
    Robosoft.Copyright &copy; 2020. All rigths reserved
  </div>
</footer>
</div>


