
.home{
  height: 950px;
  width:1800px;
  background-color: #f7f7f7;
}

mat-card{
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  width: 80%;
  margin-left: 9%;
}
  .img{
    height: 54px;
    width:280px;
    padding-left:20%;
    
  }
  
  .person-img{
    border-radius: 50%;
    height: 30px;
    float: right;
    margin-right: 7%;
    margin-bottom: 10%;
   border:2px solid #d92756;
    
} 
.person{
  margin-left: 20%;
  display: flex;
  justify-content:space-between;
  margin-bottom: 50%;
  width: 7%;
  
}
.policy{
  display: flex;
  justify-content:center;
  margin-left: 11%;
  
}
.form{
  display: flex;
  justify-content: flex-start;
  height: 750px;
  width: 850px;
  background-color: #fff;
  margin: 2%;
  border-radius: 4%;
  margin-right: 10%;
}

 .form .form1{
    height: 730px;
    width:580px;
    margin: 2%;
  }
  mat-form-field{
    width: 580px;
    height: 84px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(0,0,o,0.38);
}
.button{
  display: flex;
  justify-content: space-between;
  
}
.date{
  display: flex;
  justify-content: space-between;
  
}
.auto{
  width:100px;
}
.ppt{
  display: flex;
  justify-content: space-between;
}

.line{
  margin: 4%;
  margin-left:1%;
  height: 350px;
  width:2px;
  border-radius: 1px;
  background-color: #d92756;
}
.icons{
 margin-left: 2%;
  height: 351px;
  width:230px;
  
  
}
.color{
  color:#d92756 ;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.mat-toolbar{
  height: 49px;
  width: 200px;
  margin:3%;
}
.your-questionnaries{
  height: 476px;
  width: 280px;
  margin-right: 20%;
  background-color: #fff;
  margin: 2%;
  border-radius: 5%;
}
.paragraph{
  font-size: 24px;
  line-height: 28px;
  opacity: 0.87;
  letter-spacing: 0;
}
.btn{
  height: 48px;
  width: 240px;
  border-radius: 24px;
}
.upword{
  margin: 10%;
  height: 126px;
  width:240px;
}
.downword{
  margin:10%;
  height: 252px;
  width:240px;
}
.downbtn{
  height: 48px;
  width:240px;
  border-radius: 24px;
  background-color: rgba(217,39,86,0.05);
}
.option{
  height: 42px;
  width:240px;
  padding: 1%;
  margin: 5%;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.align{
 float:right;
}
.add{
  margin-top: 680px;
margin-left: 100px;




 }
 
footer{
  height: 44px;
  width: 1440px;
  background-color:rgba(0,0,0,0.02) ;
 margin-left: 10%;
}

.copyright{
  font-size: 16px;
  letter-spacing:0.15px ;
  line-height: 24px;
  color:rgba(0,0,0,0.6);
  text-align: center;
}
 .add .addRemove {
  height: 136px;
  width:195px;
  
}
.addbtn{
  display: flex;
  justify-content: space-evenly;

  background-color: #fdf4f6;
  border-radius: 24px;
  height: 35px;
  width: 195px;
  
}
.extra{
  color:#d92756;
  font-size: 9.8px;
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 11.2px;
  text-align: center;
}
::ng-deep .mat-datepicker-toggle{
  color:#D92756;
  width: 100px;

}