<div class="navbar">
    
        <div class="insideNav">
        <div class="inside">
            <div>
                <a routerLink="/photo" routerLinkActive="active">Photos</a>
            </div>
            <div>
                <a routerLink="/video" routerLinkActive="active">Videos</a>
            </div>
        </div>
        <div class="fevline">
            <a routerLink="/fav" routerLinkActive="active" >Favourites</a>
        </div>
            
    </div>

   
   </div>
   <div class="line"></div>
   <div class="lineCopy"></div>
   
   
