<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="form-wrap">
    <mat-card>
     <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
   </mat-card>
   <div class="align">
     <form class="login" [formGroup]="changeForm" (ngSubmit)="chnagePassword()">
        <button class="close" routerLink="/homepage"><i class="fa fa-close"></i></button>
       <h1>Change Password</h1>
       
       <!-- <mat-icon>clear</mat-icon> -->
       <div class="form-group">
         <mat-form-field appearance="outline">
           <mat-label>Enter New Password</mat-label>
           <input matInput placeholder="Enter new Password" formControlName="oldpassword">
         </mat-form-field>
         </div>
         <div class="form-group">
           <mat-form-field appearance="outline">
             <mat-label>Re-Enter New password</mat-label>
             <input matInput placeholder="Re-Enter new Password" formControlName="newpassword">
           </mat-form-field>
         </div>
         <div>
           <button class="btn" mat-raised-button color="accent" type="submit" (click)="chnagePassword()">Update</button>
       </div>
     </form>
   </div>
   </div>
