
<div  class="dialogbtn">
    <button (click)="onClose()" class="btn"  mat-raised-button color="accent" type="submit" routerLink="/changePassword">
       <span>Change Password</span> 
      </button>
      <button class="btn" mat-raised-button color="accent" type="submit" >
        <span>Add/Remove Super Admins </span> 
       </button>
       <button class="btn" mat-raised-button color="accent" type="submit" >
        <span>Add/Remove Admins</span> 
       </button>
       <mat-dialog-actions mat-dialog-close></mat-dialog-actions>
</div>