<div class="form-wrap">
 <mat-card>
  <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
</mat-card>
<div class="align">
  <form class="login">
    <h1>Login</h1>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter username</mat-label>
        <input matInput placeholder="Enter Username">
      </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter password</mat-label>
          <input matInput placeholder="Enter Password">
        </mat-form-field>
      </div>
      <div>
        <button class="btn" mat-raised-button color="accent" type="submit" routerLink="/homepage">Login</button>
    </div>
    <p id="message" routerLink="/checkemail">Forgot Password?</p>
  </form>
</div>
</div>
        
            
             
        
 
        
    



