<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="/assets/films1.jpeg">
        </div>
        <div class="yodaDes">
            <h1>{{this.chapter.title}}</h1>
            <div class="paragraph">
                <div>Characters:</div>
                <p>{{this.chapter.characters}}</p>
            </div>
            <div class="paragraph">
                <div>Director:</div>
                <p>{{this.chapter.director}}</p>
            </div>
            <div class="paragraph">
                <div>Producer:</div>
                <p>{{this.chapter.producer}}</p>
            </div>
            <div class="paragraph">
                <div>Release_date:</div>
                <p>{{this.chapter.release_date}}</p>
            </div>
            <div class="paragraph">
                <div>Episode_id:</div>
                <p>{{this.chapter.episode_id}}</p>
            </div>
            <div class="paragraph">
                <div>Opening_crawl:</div>
                <p>{{this.chapter.opening_crawl}}</p>
            </div>
            <div class="paragraph">
                <div>Planets:</div>
                <p>{{this.chapter.planets}}</p>
            </div>
            <div class="paragraph">
                <div>Species:</div>
                <p>{{this.chapter.species}}</p>
            </div>
            <div class="paragraph">
                <div>Starship:</div>
                <p>{{this.chapter.starship}}</p>
            </div>
            <div class="paragraph">
                <div>vehicles:</div>
                <p>{{this.chapter.vehicles}}</p>
            </div>
            <div class="paragraph">
                <div>url:</div>
                <p>{{this.chapter.url}}</p>
            </div>
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>



