.navbar{
    margin-block-end: 1rem;
}
.charaContent{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    color:#fff;
    height:5vh;
    padding: 0;
   
    text-transform: uppercase;
    font:Open 'Sans Bold';
    font-size: 1.25rem;
    
}
.charaContent a{
    text-decoration: none;
    color: #fff;
    padding: 1%;
}
.charaContent a:hover{
background-color:rgba(0,171,255,0.4); 

}
.buttons{
    display: flex;
    margin-left: 39%;
    align-items: center;
    gap:2rem;
    margin-block-start: 2%;
}
.prebtn button{
    font:open 'Sans Regular';
    font-size: 1rem;
    color:#7692a7;
    border:none;
    background-color: #00a8ff;
    height: 2rem;
    width:6rem;
    border-radius: 1%;
}
.nextbtn button{
    font:open 'Sans Regular';
    font-size: 1rem;
    color:#fff;
    border:none;
    background-color: #00a8ff;
    height: 2rem;
    width:6rem;
    border-radius: 1%;
}
.footer{
    margin-block-start: 2%;
}
@media screen and (max-width:750px) {
    .name{
        margin-block-end: 2rem;
    }
    .buttons{
        display: flex;
        margin-left: 35%;
        align-items: center;
        gap:2rem;
        margin-block-start: 2%;
    }
    .charaContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#fff;
        padding: 0;
        text-transform: uppercase;
        height:5vh;
        font:Open 'Sans Bold';
        overflow: auto;
        font-size: 1.5rem;
    }

}
@media screen and (max-width:500px) {
    .name{
        margin-block-end: 2rem;
    }
    .buttons{
        display: flex;
        margin-left: 26%;
        align-items: center;
        gap:2rem;
        margin-block-start: 2%;
    }

}
@media screen and (max-width:400px) {
    .name{
        margin-block-end: 2rem;
    }
    .buttons{
        display: flex;
        margin-left: 20%;
        align-items: center;
        gap:2rem;
        margin-block-start: 2%;
    }

}