<div>
    <div class="navbar">
<app-navbar></app-navbar>
    </div>
    <div class="charaContent">
         <p>darth&nbsp;vader</p>
         <p>luke&nbsp;skywalker</p>
         <p>obi-wan&nbsp;kenobi</p>
         <p>yoda</p>
         <p>rey</p>
         <p>darth&nbsp;vader</p>
         <p>luke&nbsp;skywalker</p>
         <p>obi-wan&nbsp;kenobi</p>
         <p>yoda</p>
         <p>rey</p>
    </div>
    <div class="buttons">
        <div class="prebtn">
            <button type="submit">PREVIOUS</button>
        </div>
        <div class="nextbtn">
            <button type="submit">NEXT</button>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
