
<div class="contain">
    <div class="head">
        <app-second-head></app-second-head>
    </div>
    <div class="media">
        <div>
            <mat-icon routerLink="/video">keyboard_backspace</mat-icon>
        </div>
        <div>
            <div class="lineCopy">A&nbsp;warm&nbsp;smile&nbsp;is&nbsp;the&nbsp;universal.....</div>
        </div>
        <div>
            <mat-icon >more_vert</mat-icon>
        </div>
    </div>
    <div class="vedio">
    <div class="personCopy">
        <div>
            <img src="/assets/Oval.png">
        </div>
        <div class="personLine">{{data.user.name | titlecase}}</div>
    </div>
    <div class="iconCopy">
        {{checkFev(data)}}
        <mat-icon (click)="addtoFavourite(data)"  [class.color]="color" [class.heart]="heart">favorite</mat-icon>
        <mat-icon (click)="removeFavourite(data)" *ngIf="heart" [class.color]="color">favorite</mat-icon>
    </div>
</div>
    <div class="box">
        <video  controls class="image1" class="image">
            <source src="{{data.url}}" type="video/mp4">
          </video>
        
        <div class="content">
            <div class="line">A&nbsp;warm&nbsp;smile&nbsp;is&nbsp;the&nbsp;universal&nbsp;language&nbsp;of&nbsp;kindness</div>
        
        <div class="whole">
        <div class="icon">
            {{checkFev(data)}}
            <mat-icon (click)="addtoFavourite(data)"  [class.color]="color" [class.heart]="heart">favorite</mat-icon>
            <mat-icon (click)="removeFavourite(data)" *ngIf="heart" [class.color]="color">favorite</mat-icon>
        </div>
       
       
    </div>
    <div class="person">
        <div>
            <img src="/assets/Oval.png">
        </div>
        <div class="personLine">{{data.user.name | titlecase}}</div>
    </div>
    <div class="pause">
        <img src="/assets/Shape Copy 7.png">
    </div>
    <!-- <div class="play">
        <div>
            <mat-icon>play_arrow</mat-icon>
        </div>
        <div class="playLine">
            <div class="inline"></div>
        </div>
        <div>
            <mat-icon>crop_free</mat-icon>
        </div>
    </div> -->
</div>
    </div>
    
    <div class="footer">
        <app-footer></app-footer>
    </div>
   
    <!-- <div class="playCopy">
        <div>
            <mat-icon>play_arrow</mat-icon>
        </div>
        <div class="playLineCopy">
            <div class="inlineCopy"></div>
        </div>
        <div>
            <mat-icon>crop_free</mat-icon>
        </div>
    </div> -->
</div>
