
<div>
    <div class="head">
        <app-second-head></app-second-head>
    </div>
    <div class="box">
        <!-- <vedio width="100%" control="autoplay">
            <source src="media.video1.mp4" type="video/mp4">
        </vedio> -->
        <img  class="image" src="/assets/video.png">
        <div class="content">
            <div class="line">A&nbsp;warm&nbsp;smile&nbsp;is&nbsp;the&nbsp;universal&nbsp;language&nbsp;of&nbsp;kindness</div>
        
        <div class="whole">
        <div class="heart">
            <mat-icon>favorite</mat-icon>
        </div>
       
    </div>
    <div class="person">
        <div>
            <img src="/assets/Oval.png">
        </div>
        <div class="personLine">Bonelwa&nbsp;Ngqawana</div>
    </div>
    <div class="pause">
        <img src="/assets/Shape Copy 7.png">
    </div>
    <div class="play">
        <div>
            <mat-icon>play_arrow</mat-icon>
        </div>
        <div class="playLine">
            <div class="inline"></div>
        </div>
        <div>
            <mat-icon>crop_free</mat-icon>
        </div>
    </div>
</div>
    </div>
    
    <div class="footer">
        <app-footer></app-footer>
    </div>
   
   
</div>
