<div>
    <div class="head">
        <app-second-head></app-second-head>
    </div>
    <div class="box">
        <img  class="image" src="/assets/Rectangle.png">
        <div class="content">
            <div class="line">A&nbsp;warm&nbsp;smile&nbsp;is&nbsp;the&nbsp;universal&nbsp;language&nbsp;of&nbsp;kindness</div>
        
        <div class="whole">
        <div class="heart">
            <img src="/assets/Path.png">
        </div>
        <div class="icons">
            <div class="zoom-in">
                <img src="/assets/Combined Shape.png">
            </div>
            <div class="zoom-out">
                <img src="/assets/Combined Shape(1).png">
            </div>
        </div>
    </div>
    <div class="person">
        <div>
            <img src="/assets/Oval.png">
        </div>
        <div class="personLine">Bonelwa&nbsp;Ngqawana</div>
    </div>
</div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>
