button{
    margin-right: 3rem;
}
h1{
    text-align: center;
}
div{
    margin: 2rem;
}
.navbar{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
    
.justify{
    float:right;
    /* justify-content: space-between; */
}

mat-sidenav-container{
    height: 50%;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
}
mat-sidenav{
    background-color: lightcoral;
    width: 200px;
}