<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
<app-navbar></app-navbar>
    </div>
    <div class="charaContent" *ngFor="let star of starship.results">
         <a (click)="storeData(star)">{{star.name}}</a>
         <!-- <a>luke&nbsp;skywalker</a>
         <a>obi-wan&nbsp;kenobi</a>
         <a routerLink="/yoda">yoda</a>
         <a>rey</a>
         <a>darth&nbsp;vader</a>
         <a>luke&nbsp;skywalker</a>
         <a>obi-wan&nbsp;kenobi</a>
         <a>yoda</a>
         <a>rey</a> -->
    </div>
    <div class="buttons">
        <div class="prebtn" (click)="previous()">
            <button type="submit">PREVIOUS</button>
        </div>
        <div class="nextbtn" (click)="next()">
            <button type="submit">NEXT</button>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
