.button{
    box-shadow: inset 0 1px 0 0 #fff;
    border-radius: 6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666;
    padding: 6px 24px;
    display:inline-block
}
.active{
    background: #bdbdbd;
    text-shadow: 0 1px 0;
}