<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="/assets/YodaLightsaber.webp">
        </div>
        <div class="yodaDes">
            <h1>{{this.charectorDetails.name}}</h1>
            <div class="paragraph">
                <div>Birth_year:</div>
                <p>{{this.charectorDetails.birth_year}}</p>
            </div>
            <div class="paragraph">
                <div>Homeworlds:</div>
                <p>{{this.charectorDetails.homeworld}}</p>
            </div>
            <div class="paragraph">
                <div>Eye_color:</div>
                <p>{{this.charectorDetails.eye_color}}</p>
            </div>
            <div class="paragraph">
                <div>Hair_color:</div>
                <p>{{this.charectorDetails.hair_color}}</p>
            </div>
            <div class="paragraph">
                <div>Gender:</div>
                <p>{{this.charectorDetails.gender}}</p>
            </div>
            <div class="paragraph">
                <div>Mass:</div>
                <p>{{this.charectorDetails.mass}}</p>
            </div>
            <div class="paragraph">
                <div>Dimensions:</div>
                <p>{{this.charectorDetails.height}}</p>
            </div>
            <div class="paragraph">
                <div>Skin_color:</div>
                <p>{{this.charectorDetails.skin_color}}</p>
            </div>
            <div class="paragraph">
                <div>Species:</div>
                <p>{{this.charectorDetails.species}}</p>
            </div>
            <div class="paragraph">
                <div>Weapons:</div>
                <p> Lightsber,Lightber</p>
            </div>
            <div class="paragraph">
                <div>Starships:</div>
                <p>{{this.charectorDetails.starships}}&nbsp;-</p>
            </div>
            <div class="paragraph">
                <div>Vehicles:</div>
                <p>{{this.charectorDetails.vehicles}}&nbsp;-</p>
            </div>
            <div class="paragraph">
                <div>Films:</div>
                <p>{{this.charectorDetails.films}}</p>
            </div>
            <div class="paragraph">
                <div>url:</div>
                <p>{{this.charectorDetails.url}}</p>
            </div>
            
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>
