<div>
    <div class="name">
        <app-home-name></app-home-name>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="{{image}}">
        </div>
        <div class="yodaDes">
            <h1>{{this.charectorDetails.name| uppercase}}</h1>
            <div class="paragraph">
                <div>Birth_year&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.birth_year}}</p>
            </div>
            <div class="paragraph">
                <div>Homeworlds&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.homeworld}}</p>
            </div>
            <div class="paragraph">
                <div>Eye_color&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.eye_color | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Hair_color&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.hair_color | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Gender&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.gender | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Mass&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.mass}}</p>
            </div>
            <div class="paragraph">
                <div>Dimensions&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.height}}</p>
            </div>
            <div class="paragraph">
                <div>Skin_color&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.skin_color | titlecase}}</p>
            </div>
            <div class="paragraph">
                <div>Species&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.species}}</p>
            </div>
            <div class="paragraph">
                <div>Weapons&nbsp;:&nbsp;</div>
                <p> Lightsber,Lightber</p>
            </div>
            <div class="paragraph">
                <div>Starships&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.starships}}&nbsp;-</p>
            </div>
            <div class="paragraph">
                <div>Vehicles&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.vehicles}}&nbsp;-</p>
            </div>
            <div class="paragraph">
                <div>Films&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.films}}</p>
            </div>
            <div class="paragraph">
                <div>url&nbsp;:&nbsp;</div>
                <p>{{this.charectorDetails.url}}</p>
            </div>
            
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>
