<div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="yoda">
            <img src="/assets/YodaLightsaber.webp">
        </div>
        <div class="yodaDes">
            <h1>YODA</h1>
            <div class="paragraph">
                <div>Affiliations:</div>
                <p>Jedi order</p>
            </div>
            <div class="paragraph">
                <div>Locations:</div>
                <p>Yoda's Hut</p>
            </div>
            <div class="paragraph">
                <div>Gender:</div>
                <p>Male</p>
            </div>
            <div class="paragraph">
                <div>Dimensions:</div>
                <p>Height:0.66m</p>
            </div>
            <div class="paragraph">
                <div>Species:</div>
                <p>Unknown</p>
            </div>
            <div class="paragraph">
                <div>Weapons:</div>
                <p>Yoda's Lightsber,Lightber</p>
            </div>
            <div class="paragraph">
                <div>vehicles:</div>
                <p>Yoda's Fighter</p>
            </div>
            
            <p><span></span></p>
            <p><span></span></p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div>
