.footer{
    height: 8.05%;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    box-shadow: 0 1px 0 0 #A7A8A9;
}
.content{
    padding: 2.5%;
    width: 47.08%;
    color: #BABABA;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:700px){
    .footer{
        height: 8.05%;
        width: 100%;
        margin: 0;
        background-color: #F2F2F2;
        box-shadow: 0 1px 0 0 #A7A8A9;
    }
    .content{
        width:80%;
    }
}