<div class="parent">
  
  <h1>Parent component</h1>
  <p>from child components: {{parentdata}}</p>
  <!-- <ul>
    <li *ngFor="let event of events">{{event}}</li>
  </ul> -->
  <app-child [childData]="currentParentData" [numberTorecive]="number" (newChildEvent)="addEvent($event)"></app-child>
  <button type="button" (click)="sendData()">sendDataFromParentToChild</button>
  <button (click)="changeParentData()">change</button>
  <input type="number" placeholder="enter the value" [(ngModel)]="number">
  
  <!-- <app-child-second [item]="events"></app-child-second> -->
  <app-child-second [item]="parentdata"></app-child-second>
  <div class="viewChild">
    <h4>Using viewChild decorator</h4>
  <p>message from second child to parent:{{message}}</p>
  </div>
  <div>
    <app-child-three></app-child-three>
    <p>parent message:{{messageToSend}}</p>
    <button (click)="onClick()">send message from parent to child</button>
  </div>
  <div>
    <app-child-four></app-child-four>
  </div>
  <app-child-five></app-child-five>
  <app-child-six></app-child-six>
</div>
<router-outlet></router-outlet>
