<div class="container">
    <div class="header">
        <app-home-page></app-home-page>
    </div>

<div class="mobileView">
    <div class="back">
        <div>
            <mat-icon routerLink="/home">keyboard_backspace</mat-icon>
        </div >
        <div class="fav">Favourite</div>
    </div>
    <div>
        <mat-icon>search</mat-icon>
    </div>
</div>
<ng-template #elseBlock>
    <div  class="no-favorite">
        <div class="img">
            <img  src="/assets/icon_nothing.png">
        </div>
        <div class="imgline">
            No Favourites added
        </div>
       
    </div>
</ng-template>


<div class="favorite" *ngIf="favourite; else elseBlock">
<div class="tableContent">
    <div class="count">
        <p>{{count}} City added as favorite</p>
    </div>
    <div class="removeBtn">
        <button (click)="openDialog()">Remove All</button>
    </div>
</div>
<div class="table">
<table *ngFor="let fav of favWeatherDetails;index as i ">
    <tr>
        <td>{{fav.cityName}}</td>
        <!-- <td><img src="/assets/icon_mostly_sunny_small.png"></td> -->
        <td><img class="weatherimg" [src]="fav.image"></td>
        <td>{{(fav.temp-273.15).toFixed(0)}}&#176;</td>
        <td >{{fav.info | titlecase}}</td>
        <td ><mat-icon class="color" (click)="onFav(i)">favorite </mat-icon></td>
        
    </tr>
</table>

</div>
<table class="mediaTable" *ngFor="let fav of favWeatherDetails;index as i ">
    <div class="table-1">
    <div class="name">{{fav.cityName}}</div>
    <div class="tableimg">
    <div class="info">
        <div><img class="weatherimg"[src]="fav.image"></div>
        <div class="tempinfo">{{((fav.temp)-273.15).toFixed(0)}}&#176;</div>
        <div class="weatherinfo">{{fav.info | titlecase}}</div>
    </div>
    <div >
        <mat-icon class="color" (click)="onFav(i)">favorite </mat-icon>
    </div>
    
</div>
</div>
</table>

</div>

</div>