*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

 .no-favorite{
    margin-left: 45%;
    margin-top: 18%;
 }
 .img{
    height: 40%;
    width: 25%;
 }
 .imgline{
    margin:3%;
    height: 3.05%;
    width:30%;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.4rem;
    text-align: center;
    margin-left: -5%;
    
 }
 .mobileView{
    background-color:#fff;
    height: 8.75%;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    display: none;
 }
 .back{
    display: flex;
    justify-content: space-around;
    width:50%
 }
 .fav{
    height: 4%;
    width:57%;
    color:#292f33;
    font-family: "Roboto";
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
 }
 .count{
    height: 2.18%;
    width: 12%;
    color:#fff;
    font-family: 'Roboto';
    font-size: 0.8rem;
    letter-spacing: 0;
    line-height: 0.9rem;
 }
.tableContent{
    display: flex;
    justify-content: space-between;
    margin:3%;
    margin-left: 10%;
    margin-right: 10%;
}
.weatherimg{
  width:270%
}
.removeBtn button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color:#fff;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Roboto';
    text-align: right;
}
.color{
    color:#ffd639;
}
.table table {
    width: 80%;
    background-color:rgba(255,255,255,0.2);
    margin-left: 10%;
   
  }
  
  td {
    padding: 2%;
    text-align: left;
    border-bottom: 1px solid rgb(63, 50, 121);
    color:#fff;
   
    
    
    
  }
  tr>:nth-child(2){
    width: 5%;
  }
  tr>:nth-child(3){
    width: 3%;
  }
  .tableimg{
    display: flex;
    justify-content: space-between;
  }
  .info{
    display: flex;
    justify-content: space-evenly;
    width:40%;
    margin:3%;
    
  
  }
  .mediaTable{
    width: 90%;
    background-color:rgba(255,255,255,0.2);
    margin-left: 5%;
    border-bottom: none;
    color:white;
    display:none;
    
  }
  .table-1{
    border-collapse: separate;
    border-spacing: 0 1rem;
    border-bottom: 1px solid rgb(63, 50, 121);
  }
 

  @media screen and (max-width:750px) and (min-width:480px) {
    .imgline{
      width:80%;
      padding: 5%;
      margin-left: -25%;
  }
  .img{
    height: 40%;
    width: 25%;
    margin-left: -10%;
 }
    
  }
  @media screen and (max-width:1200px) and (min-width:750px) {
    .imgline{
      width:80%;
      padding: 5%;
      margin-left: -35%;
  }
  .img{
    height: 40%;
    width: 25%;
    margin-left: -10%;
 }
    
  }
  @media  screen and (max-width:480px){
    .header{
      display: none;
    }
    .no-favorite{
        margin-left: 30%;
    }
    .imgline{
        width:80%;
        padding: 5%;
        padding-left: -10%;
    }
    .mobileView{
    display: flex;
  
}
.count{
    height: 2.34%;
    width:40%;
    font-size: 0.8rem;
    line-height: 0.9rem;
}
.weatherimg{
  width:60%
}
.removeBtn button{
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color:#fff;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Roboto';
    text-align: right;
}
.table {
   display: none;
}

.mediaTable{
  display:block;
  padding:0.5%;
  
}

 
  }