<div class="container">
    <div class="header">
        <app-home-page></app-home-page>
    </div>

<div class="mobileView">
    <div class="back">
        <div>
            <mat-icon routerLink="/home">keyboard_backspace</mat-icon>
        </div >
        <div class="fav">Favourite</div>
    </div>
    <div>
        <mat-icon>search</mat-icon>
    </div>
</div>
<div *ngIf="favourite; else elseBlock" class="no-favorite">
    <div class="img">
        <img  src="/assets/icon_nothing.png">
    </div>
    <div class="imgline">
        No Favourites added
    </div>
   
</div>
<ng-template #elseBlock>
<div class="favorite" >
<div class="tableContent">
    <div class="count">
        <p>{{count}} City added as favorite</p>
    </div>
    <div class="removeBtn">
        <button (click)="openDialog()">Remove All</button>
    </div>
</div>
<div class="table">
<table *ngFor="let fav of favWeatherDetails;index as i ">
    <tr>
        <td>{{fav.cityName}},Karnataka</td>
        <!-- <td><img src="/assets/icon_mostly_sunny_small.png"></td> -->
        <td><img class="weatherimg" [src]="fav.image"></td>
        <td>{{fav.temp}}&#176;</td>
        <td >{{fav.info}}</td>
        <td *ngIf="!color"><mat-icon class="color" (click)="onFav()">favorite </mat-icon></td>
        <td *ngIf="color"><mat-icon>favorite_border </mat-icon></td>
    </tr>
</table>

</div>
<table class="mediaTable" *ngFor="let fav of favWeatherDetails;index as i ">
    <div class="table-1">
    <div class="name">{{fav.cityName}},Karnataka</div>
    <div class="tableimg">
    <div class="info">
        <div><img class="weatherimg"[src]="fav.image"></div>
        <div class="tempinfo">{{fav.temp}}&#176;</div>
        <div class="weatherinfo">{{fav.info | titlecase}}</div>
    </div>
    <div *ngIf="!color">
        <mat-icon class="color" (click)="onFav()">favorite </mat-icon>
    </div>
    <div *ngIf="color">
        <mat-icon >favorite_border </mat-icon>
    </div>
</div>
</div>
</table>

</div>
</ng-template>
</div>