 <div class="background">
 <div>
    <mat-card>
        <img  class="img" mat-card-image src="../assets/Robosoft_logo_horizontal.png" alt="logo">
      </mat-card>
 </div>
 <div >
    <mat-card class="check">
        <mat-card-header>Check your email. We have sent a link to update your password</mat-card-header>
        <mat-card-actions>
            <button class="btn" mat-raised-button color="accent" type="submit" routerLink="/loginpage">Ok</button>
        </mat-card-actions>
    </mat-card>
 </div>
</div>