<footer>
    <div class="footer">
        <div class="line"></div>
        <div class="disFooter">
            <div>
                <img class="footerimg" src="/assets/footerlogo.png">
            </div>
            <div class="footerContent">
                <p>Terms&nbsp;of&nbsp;use</p>
                <p>Legal&nbsp;notices</p>
                <p>Privacy&nbsp;Policy</p>
                <p>Star&nbsp;wars&nbsp;helpdesk</p>
                <p>Star&nbsp;wars&nbsp;at&nbsp;Disney&nbsp;store</p>
            </div>
        </div>
        <div class="mediacontent">
            <div class="firstline">
                <p>Terms&nbsp;of&nbsp;use</p>
            <p>Legal&nbsp;notices</p>
            <p>Privacy&nbsp;Policy</p>
            </div>
            <div class="secondline">
                <p>Star&nbsp;wars&nbsp;helpdesk</p>
                <p>Star&nbsp;wars&nbsp;at&nbsp;Disney&nbsp;store</p>
            </div>
           
        </div>
        <div class="condition">
            <p>TM & &copy; Lucasfilm Ltd.All rigths Reserved</p>
        </div>
    </div>
</footer>

